@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h2 class="display-4">Login</h2>
    <p>Haven't signed up yet? <a asp-area="" asp-action="Register">Sign Up</a> here now!</p>
</div>
