@model LoginDetails;
@{
	ViewData["Title"] = "Admin Login";
}

<div class="container-md">
	<div class="login-container">
		<div class="login-card">
			<h2 class="text-center">Admin Login</h2>
			<form class="login-card-body" asp-action="Login" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-floating">
					<input class="form-control" asp-for="Username" placeholder="Exampleusername" />
					<label asp-for="Username">Username</label>
					<span class="text-danger" asp-validation-for="Username"></span>
				</div>
				<div class="form-floating">
					<input class="form-control" asp-for="Password" type="password" placeholder="password" />
					<label asp-for="Password">Password</label>
					<span class="text-danger" asp-validation-for="Password"></span>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Login" />
				</div>
			</form>
		</div>
	</div>
</div>

