<div id="welcomeModal" class="modal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-dark">Welcome to IoTBay!</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Welcome to IoT Bay, your go too place for any Internet of Things needs.</p>
				<p>
					Sign up in order to track your purchases, save and persist payment details
					and reuse your address for payment. Have your say on the quality of products
					by registering for a user account now.
				</p>
			</div>
			<div class="modal-footer">
				<a class="btn btn-outline-secondary mr-2" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
				<a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
			</div>
		</div>
	</div>
</div>
