@{
    ViewData["Title"] = "Admin Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <h3 class="text-center">Welcome to the admin page</h3>
    
    <p>
        <a asp-area="Admin" asp-controller="Categories" asp-action="Index">Click here</a>
        to add/edit product categories
    </p>

    <p>
        <a asp-area="Admin" asp-controller="Products" asp-action="Index">Click here</a>
        to add/edit product
    </p>
</div>
