$ghost-white: #fffaff;
$jet-black: #333333;

$turqoise: #48e5c2;
$carrot-orange: #f18f01;
$maize-crayola: #fac749;

$light: $ghost-white;
$dark: $jet-black;

$primary: $carrot-orange;
$secondary: $turqoise;
